  
html {
    height: 100%;
  }
  
  body {
    background: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .drumpad {
    display: flex;
    width: 500px;
    height: 650px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .drumbutton {
    width: 150px;
    height: 150px;
    border-radius: 5%;
  }
  .drumbutton:hover {
    cursor: pointer;
  }
  
  #playbutton {
    opacity: 70%;
  }
  #playbutton:hover {
    cursor: pointer;
    opacity: 100%;
  }
  
  #drum1 {
    background-color: rgb(54, 139, 219);
  }
  #drum1:hover {
    background-color: rgb(15, 65, 112);
  }
  
  #drum2 {
    background-color: rgb(54, 139, 219);
  }
  #drum2:hover {
    background-color: rgb(15, 65, 112);
  }
  
  #drum3 {
    background-color: rgb(54, 139, 219);
  }
  #drum3:hover {
    background-color: rgb(15, 65, 112);
  }
  #drum4 {
    background-color: rgb(23, 170, 155);
  }

  #drum4:hover {
    background-color: rgb(4, 73, 66);
  }
  
  #drum5 {
    background-color: rgb(23, 170, 155);
  }
  #drum5:hover {
    background-color: rgb(4, 73, 66);
  }
  
  #drum6 {
    background-color: rgb(23, 170, 155);
  }
  #drum6:hover {
    background-color: rgb(4, 73, 66);
  }
  
  #drum7 {
    background-color:rgb(23, 170, 155);
  }
  #drum7:hover {
    background-color: rgb(4, 73, 66);
  }
  
  #drum8 {
    background-color: rgb(164, 60, 206);
  }
  #drum8:hover {
    background-color: rgb(90, 14, 90);
  }
  
  #drum9 {
    background-color: rgb(164, 60, 206);
  }
  #drum9:hover {
    background-color: rgb(90, 14, 90);
  }