body {
    background-image: url("bg.png");
    background-repeat: repeat;
    width: 100%;
    }

.rechteck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shell {
    position: fixed;
    top: 65%;
    left: 0%;
}

.penguin {
    position: absolute;
    top: 59%;
    left: 70%;
}

h1 {
    font-style: normal;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 15%;
    left: 60px;
    margin:0px;

}

p {
    font-style: normal;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 42%;
    left: 60px;
    margin:0px;


}