body {
    background-image: url("bg.png");
    background-repeat: repeat;
    width: 100%;
    z-index: 1;
    }

.rechteck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


h1 {
    font-style: normal;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 15%;
    left: 60px;
    margin:0px;
    z-index: 6;

}

p {
    font-style: normal;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 44%;
    left: 60px;
    margin:0px;
    z-index: 5;
}

.baum {
    position: absolute;
    top: 6%;
    left: 54%;
    z-index: 4;
}

.muschel1 {
    position: absolute;
    top: 25%;
    left: 100px;
    z-index: 5;
}

.muschel2 {
    position: absolute;
    top: 74%;
    left: 250px;
    z-index: 5;
}

.muschel3 {
    position: absolute;
    top: 14%;
    left: 440px;
    z-index: 5;

}
